development:
  adapter: postgresql
  encoding: unicode
  database: adam_cam
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: adam_cam_test
  pool: 5
  username: gschool
  password:
